from .base import *

# ЗАДАЙТЕ СВОИ НАСТРОЙКИ ПОДКЛЮЧЕНИЯ К БАЕЗ
DATABASES = {
    'default': {
        'CHARSET': 'utf8',
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }

}

QEMU = {
    'host': '127.0.0.1',
}

SITE_ID = 3

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = ''
